.gradle/
build/
i18n/
gradle-app.setting
!gradle-wrapper.ja
.gradletasknamecache
.DS_Store
*.swp
*~
prg/
config.php
.htaccess
TextureText.txt
composer.phar
node_modules/
vendor/
php.ini
webfonts/
composer-setup.php
css/
!src/**/css/
