.gradle/
build/
i18n/
gradle-app.setting
!gradle-wrapper.ja
.gradletasknamecache
*.swp
*~
prg/
config.php
.htaccess
TextureText.txt
composer.phar
node_modules/
vendor/
php.ini
webfonts/
composer-setup.php
