[submodule "webpack-cdn-plugin"]
	path = webpack-cdn-plugin
	url = https://toshiyuki-rs@github.com/toshiyuki-rs/webpack-cdn-plugin.git
[submodule "color-picker"]
	path = color-picker
	url = ../../npm/color-picker.git
