{
    "head": {
        "og": {
            "image": "/img/localization-square.png",
            "title": "To localize the program",
            "type": "website"
        },
        "title": "To localize the program",
        "css" : [
            "doc/develop-4.css"
        ]
    },
    "body" : {
        "header": [
            "<img src=\"img/localization-hdr.png\">"
        ],
        "markdown-type": "github"
    } 
}
