{
    "head": {
        "og": {
            "image": "/img/webfontloader-1.png",
            "title": "To solve ellipse center",
            "type": "website"
        },
        "title": "To solve ellipse center",
        "customs" : [
          [
            "<script>window.MathJax = { ",
            " tex: {",
            "   tags: 'ams'",
            " }",   
            "};</script>"
          ]
        ], 
        "using": [
            "polyfill",
            "mathjax"
        ]	
    }
}
