{
    "head": {
        "og": {
            "image": "/img/mswp-v3.png",
            "title": "影付きレンダリング",
            "type": "website"
        },
        "title": "影付きレンダリング"
    },
    "__comment": [
        "/* vi: se ts=4 sw=4 et: */"
    ]
}
