{
    "head": {
        "og": {
            "title": "OK、NGアイコンの変更"
        },
        "title": "OK、NGアイコンの変更"
    },
    "body": {
        "footer": [
            "<a href=\"entry.php\">マインスイーパーをプレイ</a>"
        ]
    }
}
