{
    "head": {
        "og": {
            "image": "/img/img/icon-selector-ng.png",
            "title": "To change OK and NG icons",
            "type": "website"
        },
        "css" : [
            "doc/ui-2.css"
        ], 
        "title": "To change OK and NG icon",
        "using": [
            "fontawesome"
        ]	
    },
    "body" : {
        "header": [
           "<img src=\"img/ok-ng-icon-on-board.png\">"
        ],
        "markdown-type": "github",
        "footer": [
            "<a href=\"entry.php\">Play the mine sweeper</a>"
        ]
    }
}
