{
    "head": {
        "og": {
            "image": "/img/light-source-edit.png",
            "title": "Move light source",
            "type": "website"
        },
        "css" : [
            "doc/ui-3.css"
        ], 
        "title": "Move light source",
        "using": [
            "fontawesome"
        ]	
    },
    "body" : {
        "header": [
           "<div class=\"banner\">",
           "<img src=\"img/light-source-edit.png\">",
           "</div>"
        ],
        "markdown-type": "github",
        "footer": [
            "<a href=\"entry.php\">Play the mine sweeper</a>"
        ]
    },
    "__comment": [
        "/* vi: se ts=4 sw=4 et: */"
    ]
}
