{
    "head": {
        "og": {
            "title": "光源の移動",
            "type": "website"
        },
        "title": "光源の移動"
    },
    "body" : {
        "footer": [
            "<a href=\"entry.php\">マインスイーパーをプレイ</a>"
        ]
    },
    "__comment": [
        "/* vi: se ts=4 sw=4 et: */"
    ]
}
