<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta property="og:title" content="Mine sweeper" />
  <meta property="og:image" content="<?php echo $mswp_settings['siteUrl']; ?>/img/game-image.png" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<?php echo $mswp_settings['siteUrl']; ?>/entry.php" />
  <meta name="viewport" content="width=device-width initial-scale=1">

  <script>
    var mswpSettings = <?php echo json_encode($mswp_settings); ?> ;
  </script>
</head>

<body>
  <div id="splash_pane" class="overlay">
    <div class="loading text-white">
    <span><?php echo _("Loading...");?><div class="spinner-grow text-white" role="status"><span class="sr-only"></span></div></span>
    </div>
  </div>
  <div class="setting menu"><div class="menu item"><i class="fas fa-users-cog"></i></div></div>
  <canvas id="game_grid" class=play-ground></canvas>
  <canvas id="glyph_workarea" width="256" height="256"></canvas>
  <div class="setting menu contents">
    <table>
      <tbody>
        <tr id="label-setting">
          <td><i class="fas fa-wrench"></i></td>
          <td><?php echo _("Labels ..."); ?></td>
        </tr>
        <tr id="color-setting">
          <td><i class="fas fa-paint-roller"></i></td>
          <td><?php echo _("Colors ..."); ?></td>
        </tr>
        <tr id="lighting-setting">
          <td><i class="fas fa-sun"></i></td>
          <td><?php echo _("Lighting"); ?></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="back-to-main">
    <i class="fas fa-arrow-left fa-2x"></i>
  </div>
  <div id="game_over_modal" class="modal" tabindx="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p><?php echo _("Game over"); ?></p>
          <a href="index.php?doc=about"
          class="badge badge-primary"><?php 
            echo _("About this Project"); ?></a>
        </div>
        <div class="modal-footer">
          <button type="button"
            class="btn btn-primary"
            data-dismiss="modal"><?php
              echo _("Play again");
            ?></button>
        </div>
      </div>
    </div>
  </div>
  <div id="player_won_modal" class="modal" tabindx="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p><?php echo _("You won the game"); ?></p>
          <a href="./about.php"
            class="badge badge-primary"><?php
              echo _("About this Project");
          ?></a>
        </div>
        <div class="modal-footer">
          <button type="button"
            class="btn btn-primary"
            data-dismiss="modal"><?php
              echo _("Play again");
            ?></button>
        </div>
      </div>
    </div>
  </div>

  <div id="icon_list" class="modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title"><?php 
            echo _("Please select icons"); ?></div>
        </div>
        <div class="modal-body">
          <div class="input-group icon kind">
            <select class="custom-select" id="icon-kind-selector">
              <option value="ok" selected><?php echo _("OK"); ?></option>
              <option value="ng"><?php echo _("NG"); ?></option>
            </select>
            <div class="input-group-append" >
              <label class="input-group-text"
                for="icon-kind-selector"><?php echo _("Icon"); ?></label>
            </div>
          </div>
          <ul class="icons list">
          </ul>
          <div class="pagination container"></div>
        </div>
        <div class="modal-footer">
          <button type="button"
            class="btn btn-primary ok"><?php echo _("OK"); ?></button>
          <button type="button"
            data-dismiss="modal" 
            class="btn btn-secondary"><?php echo _("Cacel"); ?></button>
        </div>
      </div>
    </div>
  </div>
  <div id="color-selector" class="modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title"><?php
            echo _("Please choose color"); ?></div>
        </div>
        <div class="modal-body">
          <div class="description"></div>
          <div class="colors container">
            <div class="color-scheme color-item-0"
              data-tooltip="<?php echo _("Label"); ?>" ></div>
            <div class="color-scheme color-item-1"
              data-tooltip="<?php echo _("Button front face"); ?>"></div>
            <div class="color-scheme color-item-3"
              data-tooltip="<?php echo _("Button back face"); ?>"></div>
            <div class="color-scheme color-item-4"
              data-tooltip="<?php echo _("Board"); ?>"></div>
            <div class="color-scheme color-item-env-0"
              data-tooltip="<?php echo _("Backgournd"); ?>"></div>
            <div class="color-scheme color-item-env-1"
              data-tooltip="<?php echo _("Text"); ?>"></div>
          </div>
          <div class="color-circle-container">
            <canvas class="oc-color-circle"></canvas>
          </div>
          <div class="color-value-controller">
            <input class="oc-value" type="range" min="0" max="255">
          </div>
        </div>
        <div class="modal-footer">
          <div class="left-side">
            <button type="button"
              class="btn btn-secondary initial-setting"><?php 
                echo _("Initial Setting"); ?></button>
          </div>
          <div class="right-side">
            <button type="button"
              class="btn btn-primary ok"><?php
                echo _("OK"); ?></button>
            <button type="button"
              data-dismiss="modal" 
              class="btn btn-secondary"><?php
                echo _("Cacel"); ?></button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <template id="synchronizing-icon">
    <i class="fa fa-sync-alt fa-spin"></i>
  </template>
  <template id="synchronizing-icon-2">
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </template>
  <template id="icon_item_tmpl">
    <li class="icon-item"><div><i></i></div></li>
  </template>
  <template id="blank_icon_item_tmpl">
    <li class="icon-item"><div><div></div></div></li>  
  </template>
  <template id="icons_paginating_full_tmpl">
    <div class="btn-group full" role="group">
      <button class="btn btn-light first">
        <i class="fas fa-angle-double-left"></i>
      </button>
      <button class="btn btn-light prev">
        <i class="fas fa-angle-left"></i>
      </button>
      <button class="btn btn-light next">
        <i class="fas fa-angle-right"></i>
      </button>
      <button class="btn btn-light last">
        <i class="fas fa-angle-double-right"></i>
      </button>
    </div>
  </template>
  <template id="icons_paginating_medium_tmpl">
    <div class="btn-group medium">
      <button class="btn btn-secondary prev">
        <i class="fas fa-angle-left"></i>
      </button>
      <button class="page-item next">
        <i class="fas fa-angle-right"></i>
      </button>
    </div>
  </template>
  <template id="icons_paginating_simple_tmpl">
    <ul class="pagination simple">
    </ul>
  </template>
  <template id="icons_paginating_item_tmpl">
    <button class="btn btn-light page-number"></button>
  </template>
</body>

</html><?php
/* vi: se sw=2 ts=2 et: */
